.shiftsGroup__container {
	display: flex;
	flex-direction: column;
}
.shifts__header {
	display: flex;
	align-items: center;
	gap: 1rem;
	background-color: #f1f4f8;
	padding: 1rem 1.5rem;
	border-bottom: 1px solid #cbd2e1;
}

.shifts__day {
	font-size: 1.4rem;
	color: #4f6c92;
}
.shifts__Duration {
	color: #cbd2e1;
}
.shifts__container {
	padding: 1rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #cbd2e1;
}
.shifts__time {
	color: #4f6c92;
	font-size: 1.2rem;
}
.shifts__area {
	color: #cbd2e1;
	font-size: 1.1rem;
}
.btn__cancel {
	color: #e2006a;
	border: 1px solid #e2006a;
	background-color: #f7f8fb;
}
.btn__cancel_disabled {
	color: #eed2df;
	border: 1px solid #eed2df;
}
.btn__book {
	color: #16a64d;
	border: 1px solid #16a64d;
	background-color: #f7f8fb;
}
.btn__book_disabled {
	color: #caefd8;
	border: 1px solid #caefd8;
}
.cancelButton__container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.booked__shift {
	color: #456692;
	font-weight: bold;
	font-size: 1rem;
}
