*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.btn {
	padding: 0.5rem 2rem;
	border-radius: 2rem;
	font-size: 1.1rem;
}
